h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #0077b6; 
    margin-bottom: 1.5rem; /
}

.requirements-list {
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
    align-items: center;
    margin: 0 auto;
}

.requirements-list li {
    margin-left: 0;
    padding-left: 0.5em;
}

.intro-text {
    text-align: left;
}

button {
    margin: 2rem;
}

button:focus {
    outline: none !important;
    box-shadow: 0 0 0 4px #f3f4f6; /* azul claro para acessibilidade */
}

button:active {
    outline: none !important;
    box-shadow: 0 0 0 4px #fff; /* azul mais escuro ao clicar */
}

.sr-only {
    margin-top: 2rem;
    text-align: left;
    font-weight: bold;
}