.remove-file-button {
    transition: color 0.2s ease-in-out;
    background-color: transparent;
    border: none;
    color: #e63946; /* Red color */
    font-size: 0.875rem; /* 14px */
    text-decoration: underline;
    margin: 2rem ;
}